.gradient-custom {
    /* fallback for old browsers */
    background: white;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: white;
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: white
    }
.mask{
    background-color: rgba(251, 251, 251, 0.2);
}
.item{
    height: 100%;
    width: 100%;
}
// button{
//     height: 40px;
//     width: 50px;
// }